* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url(6.jpg);
    font-family: cursive;
    color: #494650;
    cursor: url(curs.png);
    background-size: auto;
  }

  #container {
    width: 90%;
    margin: 20px auto;
  }

  header {
    background: rgba(255, 255, 255, 0.6) url(logo.png) no-repeat;
    background-size: 300px;
    background-position: 30px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #79e0c6;
  }

  h1 {
    text-shadow: 0 0 5px #79e0c6;
    font-size: 60px;
  }
  
  #head {
    margin-top: 30px;
    margin-left: 33%;
    padding-left: 20px;
  }

  nav {
    background: rgba(255, 255, 255, 0.6);
    height: 60px;
    padding-top: 10px;
    margin: 1% 0;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #79e0c6;
    text-align: center;
  }

  a {
    text-decoration: none;
    display: block;
    color: #c5764a;
  }
  
  nav li {
    display: inline-block;
    background: rgb(255, 255, 255);
    width: 10%;
    height: 40px;
    line-height: 40px;
    transition: 1s;
  }
  
  nav li:hover {
    display: inline-block;
    background: #ffd93b;
    transform: translateY(6px);
    transition: 1s;
    box-shadow: 0 0 20px 1px #ffd93b;
  }
  
  nav a:hover {
    color: #f7f5fa;
  }

  aside {
    background: rgba(255, 255, 255, 0.6);
    height: 650px;
    padding: 20px;
    width: 25%;
    float: right;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #79e0c6;
    text-align: center;
  }

  aside li {
    background: #79e0c6;
    height: 40px;
    line-height: 40px;
    transition: 1s;
    margin-top: 10px;
    list-style: none;
  }
  
  aside li:hover {
    background: #fdfdfb;
    transform: translateX(6px);
    transition: 1s;
    box-shadow: 0 0 20px 1px #fdfdfb;
  }
  
  aside a:hover {
    color: #c5764a;
  }
  
  aside a {
    color: #f7f5fa;
  }

  main {
    background: rgba(255, 255, 255, 0.801);
    padding: 40px;
    margin: 1% 0;
    margin-right: 26%;
    box-shadow: inset 0 0 10px 1px #79e0c6;
    text-align: center;
    border-radius: 10px;
  }

  footer {
    background:rgba(255, 255, 255, 0.801);
    padding: 20px;
    margin: 1% 0;
    box-shadow: inset 0 0 20px 1px #79e0c6;
    text-align: center;
  }
  

  #images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  #images figure {
    width: 40%;
    margin: 10px;
    transition: 1s;
    border: 10px solid #fff;
    box-shadow: 5px 5px 15px #000;
  }
  
  #images figure:hover {
    transform: scale(1.3);
    transition: 1s;
  }
  
  #images figure img {
    width: 100%;
  }
  
  #images figcaption {
    background: #fff;
    color: rgb(4, 41, 15);
    padding: 15px;
    margin-top: -5px;
  }
  
  #images img:hover {
    transform: scale(1);
  }
  
  #images img {
    margin: 0;
  }

  p{
    text-align: justify;
    padding: 20px;
  }

  main img {
    margin: 40px;
    box-shadow: 0 0 20px;
    transition: 1s;
  }
  
  main img:hover {
    transform: scale(1.2);
    transform: 1s;
  }